In [4]:
def name_of_function(name):
    print("Hello "+name)
name_of_function("Max")

Hello Max

In [8]:
def add_fn(num1, num2):
    return num1+num2
result = add_fn(1,2)
print(result)

3

In [18]:
def say_hello(name = "Default"):
    print(f'Hello {name}')

In [19]:
say_hello("Arthur")

Hello Arthur

In [20]:
def even_check(num):
    result = num % 2 == 0
    return result
#this is a boolean check

In [21]:
def even_check_short(num):
    return num % 2 == 0
#also possible shorter version

In [22]:
#Returns true if any num in a list is even
def check_even_list(num_list):
    for num in num_list:
        if num % 2 == 0:
            return True
        else:
            pass
        return False
# return one indent less, after for loop done (the returns don't have to be at one lvlv)

In [23]:
check_even_list([1,1,1,3,4,])

True

In [24]:
def list_even_num(num_list):
    
    #placeholder variable
    even_num = []
    
    for num in num_list:
        if num % 2 == 0:
            even_num.append(num)
        else:
            pass
    return even_num

In [26]:
list_even_num([1,2,3,4,5,67,8,90])

[2, 4, 8, 90]

In [28]:
stock_prices =[("Appl",100),("Google",200),("Microsoft",300)]

In [30]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

110.0
220.0
330.0

In [44]:
work_hours=[("Abby",100),("Billy",4000),("Cassie",800)]

In [42]:
def employee_of_the_month(work_hours):
    
    current_max =0
    employee_of_month =""
    
    for name,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month =name
        else:
            pass
    
    
    return(employee_of_month,current_max)

In [45]:
employee_of_the_month(work_hours)

('Billy', 4000)

In [46]:
employee_name, hours_worked = employee_of_the_month(work_hours)

In [47]:
employee_name

'Billy'

In [48]:
hours_worked

4000

In [53]:
from random import*
shuffled_list = ([1,2,3,4,5,5,6,6,7,8,8,8,8])
shuffle(shuffled_list)

In [54]:
shuffled_list

[8, 7, 2, 4, 1, 5, 5, 6, 8, 8, 6, 3, 8]

In [55]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [56]:
result = shuffle_list(shuffled_list)

In [57]:
result

[3, 8, 8, 1, 5, 8, 8, 2, 7, 6, 5, 6, 4]

In [58]:
mylist_o = ["","O",""]

In [62]:
shuffle_list(mylist_o)

['O', '', '']

In [74]:
def player_guess():
    
    guess=""
    
    guess =input("Pick a number: 0,1,2")
    
    while guess not in ["0","1","2"]:
        print("Out of range. Try again")
        guess =input("Pick a number: 0,1,2  ")
    
    
    
    return int(guess)

In [75]:
def check_guess(mylist_o, guess):
    if mylist_o[guess] == "0":
        print("Correct")
    else:
        print("Wrong guess!")
        print(mylist_o)

In [76]:
#Initial list
mylist_o = ["","O",""]

#Shuffle list
mixedup_list = shuffle_list(mylist_o)

#User guess
guess = player_guess()

#Check guess
check_guess(mixedup_list, guess)

Pick a number: 0,1,21
Wrong guess!
['O', '', '']

*args = arguments: returns tuple , **kwargs = keywordarguments: returns dictionary

In [79]:
def myfunc(a,b):
    return sum((a,b)) *0.05

In [80]:
myfunc(40,60)

5.0

In [82]:
def myfunc(*args):
    return sum(args)*0.05
# all parameters will be added in to a tuple (* at begining, other parameter names are ok)

In [93]:
def myfunc(*zuzuz):
    print(arg)
    return sum(zuzuz)*0.05

In [96]:
def myfunc(**kwargs):
    print(kwargs)
    if "fruit" in kwargs:
        print("My fruit of choice is {}".format(kwargs["fruit"]))
    else:
        print("No fruit found")
# all parameters will be added in to a dictionary (** at begining, other parameter names are ok)

In [95]:
myfunc(fruit="apple", veggie = "lettuce")

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [118]:
def myfunc56(*args,**kwargs):
    print("I would like {} {}".format(args[0],kwargs["food"]))
    
#we have to have this order, first *arg, then **kwarg

In [119]:
myfunc(10,20,3030,302, fruit ="orange", food ="egg")

I would like 10egg

In [139]:
def myfunc(input_string):
    index_position = 0
    result = []
    for letter in input_string:
        if index_position%2 == 0:
            result.append(input_string[index_position].upper())
        else:
            result.append(input_string[index_position].lower())
        index_position= index_position + 1
    
    return result

In [140]:
myfunc("asdfghjkl")

['A', 's', 'D', 'f', 'G', 'h', 'J', 'k', 'L']

In [143]:
len([1,2,3,4])

4

In [1]:
def square(num):
    return num **2

In [4]:
my_nums = [1,2,3,4,5]

In [5]:
for item in map(square, my_nums):
    print(item)

1
4
9
16
25

In [6]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [9]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return "Even"
    else:
        return mystring[0]

In [14]:
names = ["Andy", "Herald", "Garyl"]

In [15]:
list(map(splicer,names))

['Even', 'Even', 'G']

In [16]:
def check_even(num):
    return num%2 == 0

In [17]:
mynums=[1,2,3,4,5,6,7,8,9,0]

In [20]:
for item in filter(check_even, mynums):
    print(item)

2
4
6
8
0

In [21]:
def square(num):
    result = num**2
    return result

In [22]:
square(4)

16

In [23]:
def square(num): return num**2

In [25]:
square = lambda num: num**2

In [26]:
square(56)

3136

In [29]:
list(map(lambda num: num**2, mynums))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 0]

In [31]:
list(filter(lambda num :num %2 == 0, mynums))

[2, 4, 6, 8, 0]

In [32]:
x = 25

def printer():
    x = 50
    return x

In [34]:
print(x)

25

In [35]:
print(printer())

50

In [36]:
print(x)

25

Now Follow application of the LEGB rules a hierarchical order from left to right where to search for variable names

In [38]:
#lambda num: num **2

In [45]:
name = "THIS IS A GLOBAL STRING"

def greet():
    name = "SAMMY"
    
    def hello():
        print("Hello"+ name)
    hello()

In [47]:
greet() #Local name space is within a function for hello- here nothing -> enclosing function(here=greet) => name = SAMMY

HelloSAMMY

In [49]:
print(name) # for the print fn on local and enclosing lvl there is no name -> global(your script or jupyter noteboook ) lvl => name

THIS IS A GLOBAL STRING

and the names in the definition of a standart function in the library can be overwritten, because global is before build in => !!!Don't overwrite!!!

In [58]:
x=50
def func(x):
    print(f'X is {x}')
    # Local reassignment
    x=200
    print(f' I just locally changed X to {x}')

In [61]:
func()

X is 50
 I just locally changed X to 200

In [65]:
x=50
def func():
    global x  # Now everything happening inside the function also affects global x 
    print(f'X is {x}')
    # Local reassignment on global lvl
    x=200
    print(f' I just locally changed global X to "{x}"')

In [66]:
func()

X is 50
 I just locally changed global X to "200"

In [67]:
print(x)

200

In [72]:
#alternative (safer)
def func(x):
    print(f'X is {x}')
    x=200
    print(f' I just locally changed global X to "{x}"')
    return x

In [73]:
func(50)

X is 50
 I just locally changed global X to "200"

200