In [1]:
hungry = False
if hungry:
    print("Feed me")
else:
    print("Im not hungry")

Im not hungry

In [4]:
loc = "Restaurant"

if loc == "Autoshop":
    print("Cars are cool")
elif loc == "Bank":
    print("Money is cool")
elif loc == "Restaurant":
    print ("Food is cool")
else:
    print("I don't know much")

Food is cool

In [14]:
mylist=[1,2,3,4,5,6,7,8,9,10]
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

Every variable name is possible, as long as it is the same in both lines

In [19]:
for num in mylist:
    if num % 2 == 0:
        print("Even number {e}".format(e =num))
    else:
        print(f"Odd number {num}")

Odd number 1
Even number 2
Odd number 3
Even number 4
Odd number 5
Even number 6
Odd number 7
Even number 8
Odd number 9
Even number 10

In [24]:
list_sum = 0

In [25]:
for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [27]:
mystring="Hello world"
for letter in mystring:
    print(letter)

H
e
l
l
o

w
o
r
l
d

In [28]:
for _ in mylist:
    print("letter")

letter
letter
letter
letter
letter
letter
letter
letter
letter
letter

If you don't intend to use the variable, but want to iterate something times charachter (i.e.) you use underscore for visibility

In [31]:
mylist=[(1,2),(3,4),(5,6)]
for item in mylist:
    print(item)

3
4

In [32]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6

Tuppel unpacking: Structure of nested items replicated=> access items in there(technically for a,b (without ()is also possible)

In [33]:
mylistlist =[[1,2,3],[1,2,3],[1,2,3]]
for a,b,c in mylistlist:
    print(b)

2
2
2

In [34]:
d={"k1":1, "k2":2}
for items in d:
    print(items)

k1
k2

In [39]:
for key, values in d.items():
    print(key)
    print(values)

k1
1
k2
2

In [43]:
if 2<3:
    print("True")

True

In [5]:
x = 0
while x < 5:
    print(f"The current value of x is {x}")
    x += 1
else:
    print("X is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less than 5

In [6]:
x= [1,2,3,4]
for item in x:
    pass

"pass" works as a placeholder, because otherwise there is going to be an error for the for-loop. It does nothing, passes on the loop

In [7]:
mystring ="Sammy"

In [8]:
for letter in mystring:
    if letter == "a": continue
    print(letter)

S
m
m
y

"continue"goes to the top of the current enclosing loop(only loop), it's like a skip for a turn here

In [9]:
for letter in mystring:
    if letter == "a": break
    print(letter)

S

"break" breaks out of the current enclosing loop

In [12]:
x = 0
while x<5:
    if x == 2:
        break
    print(x)
    x+=1

0
1

In [14]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [15]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

Range is a generator, which means it doesn't save it in memory, just generates

In [16]:
index_count=0
for letter in "abcde":
    print("At index {} the letter is {}".format(index_count, letter))

At index 0 the letter is a
At index 0 the letter is b
At index 0 the letter is c
At index 0 the letter is d
At index 0 the letter is e

In [19]:
word = "Hello"
for item in enumerate(word):
    print (item)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [23]:
word = "Hello"
for index, letter in enumerate(word):
    print (letter)
    print("\n")

H


e


l


l


o

In [27]:
mylist1 = [1,2,3,4,5,]
mylist2 = ["a","b","c","d","e"]
mylist3 = [100, 200]
for item in zip(mylist1, mylist2, mylist3):
    print (item)

(1, 'a', 100)
(2, 'b', 200)

Zip can only go as far as the shortest list

In [47]:
list123 = [None]
mylist1 = [1,2,3,4,5,]
mylist2 = ["a","b","c","d","e"]
for a,b, in zip(mylist1, mylist2,):
    print (a)
    list123.append(a)
list123.pop(0)

1
2
3
4
5

In [37]:
list (zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [48]:
list123

[1, 2, 3, 4, 5]

In [49]:
"x" in "123fghj"

False

In [56]:
"x" in ["x","y","a"]

True

In [57]:
 mylist = list(range(0,1000,100))

In [58]:
min(mylist)

0

In [59]:
max(mylist)

900

In [64]:
#Import a library
from random import shuffle
shuffle(mylist)
print(mylist)
#shuffle is an implace function

[200, 100, 400, 500, 0, 900, 700, 600, 800, 300]

In [67]:
from random import randint
randint(0,100)

74

In [70]:
mynum = randint(0,10)

In [76]:
result = input("Whats your name:")
#input accepts everything as a string

Whats your name:Jose

In [75]:
type(result)

str

In [80]:
result = int(input("Enter a number here:"))

Enter a number here:7

In [81]:
type(result)

int

In [82]:
mystring = "Hello"

In [83]:
mylist = []
for letter in mystring:
    mylist.append(letter)

In [84]:
mylist

['H', 'e', 'l', 'l', 'o']

In [85]:
mylist = [letter for letter in mystring]

In [86]:
mylist

['H', 'e', 'l', 'l', 'o']

In [90]:
mylist = [x for x in "word"]
# this is a flattened out for-loop

In [91]:
mylist

['w', 'o', 'r', 'd']

In [92]:
mynumlist =[num for num in range(0,11)]

In [93]:
mynumlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
mynumlist =[num**2 for num in range(0,11)]

In [95]:
mynumlist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [98]:
mynumlist = [x for x in range(0,11) if x%2 ==0]

In [99]:
mynumlist

[0, 2, 4, 6, 8, 10]

In [101]:
celsius = [x for x in range(0,360,10)]
fahrenheit = [((9/5)*temp +32) for temp in celsius]
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0, 140.0, 158.0, 176.0, 194.0, 212.0, 230.0, 248.0, 266.0, 284.0, 302.0, 320.0, 338.0, 356.0, 374.0, 392.0, 410.0, 428.0, 446.0, 464.0, 482.0, 500.0, 518.0, 536.0, 554.0, 572.0, 590.0, 608.0, 626.0, 644.0, 662.0]

In [103]:
fahrenheit=[]
celsius=[x for x in range(0,360,20)]
for x in celsius:
    fahrenheit.append((9/5)*x+32)
print(fahrenheit)

[32.0, 68.0, 104.0, 140.0, 176.0, 212.0, 248.0, 284.0, 320.0, 356.0, 392.0, 428.0, 464.0, 500.0, 536.0, 572.0, 608.0, 644.0]

In [105]:
mylist = []

for x in [2,4,6]:
    for y in [100, 200, 300]:
        mylist.append(x*y)

In [106]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [107]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [114]:
mystring78= "Hello World this is nice"
mystring78.split("s")

['Hello World thi', ' i', ' nice']

In [115]:
for x in mystring78:
    enumerate()

TypeError: enumerate() missing required argument 'iterable'